.breakdance .bde-section-12-100 .section-container {padding-bottom: 200px;padding-top: 200px;}
.breakdance .bde-heading-12-103 {font-size: 128px;line-height: 1;margin-bottom: 11px;}
.breakdance .bde-text-12-104 {margin-bottom: 15px;}
.breakdance .bde-icon-12-105 .bde-icon-icon.breakdance-icon-atom {font-size: 16px;}
.breakdance .bde-icon-12-105 .bde-icon-icon.breakdance-icon-atom svg:first-child {fill: #000;}