.breakdance .bde-section {position: relative;width: 100%;background-position: center center;background-size: cover;}
.breakdance .bde-section .section-container:empty {min-height: 80px;}
.breakdance .bde-section .section-container {max-width: var(--bde-section-width);background-size: cover;position: relative;display: flex;flex-direction: column;align-items: flex-start;text-align: left;margin: 0 auto;padding: var(--bde-section-vertical-padding) var(--bde-section-horizontal-padding);}
.breakdance .bde-section .section-shape-divider-wrapper {position: absolute;overflow: hidden;top: 0;left: 0;bottom: 0;right: 0;pointer-events: none;}
.breakdance .bde-section .section-shape-divider-wrapper .section-shape-divider svg {position: absolute;color: #000;width: 100%;height: 320px;left: 0;right: 0;top: 0;transform: scaleY(-1);}
.breakdance .bde-heading {max-width: 100%;margin: 0;}
.breakdance .bde-post-meta {max-width: 100%;list-style-type: none;padding: 0;margin: 0;display: flex;flex-wrap: wrap;gap: 20px;color: #000;}
.breakdance .bde-post-meta li {position: relative;display: flex;align-items: center;color: inherit;margin: 0;padding: 0;}
.breakdance .bde-post-meta li a {display: flex;align-items: center;text-decoration: none;color: inherit;}
.breakdance .bde-post-meta .ee-postmeta-icon {font-size: 18px;margin-right: 6px;}
.breakdance .bde-post-meta .ee-postmeta-avatar {width: 18px;display: flex;margin-right: 6px;}
.breakdance .bde-post-meta .ee-postmeta-avatar img {max-width: 100%;height: auto;border-radius: 50%;}
.breakdance .bde-post-meta .ee-postmeta-term {display: flex;flex-wrap: wrap;white-space: pre-wrap;position: relative;}
.ee-postmeta-terms-wrap {flex-wrap: wrap;}
.breakdance .bde-post-meta .ee-postmeta-term:not(:last-child):after {content: ", ";}
.breakdance .bde-post-meta .ee-postmeta-before {white-space: pre-wrap;}
.breakdance .bde-rich-text {max-width: 100%;}
.breakdance .bde-rich-text>:last-child li:last-child>p {margin-bottom: 0;}
.breakdance .bde-comments-list {max-width: 100%;width: 600px;--commentsgray400: #a3a3a3;--commentsgap: 20px;}
.comments-list {display: flex;flex-direction: column;margin: 0;padding: 0;list-style-type: none;gap: var(--commentsGap);width: 100%;}
.breakdance .comments-list__author-name {font-size: 1em;margin: 0;padding: 0;font-weight: 500;margin-bottom: 4px;}
.comments-list__body, .comments-list__header {display: flex;flex-direction: row;gap: var(--commentsGap);}
.comments-list__body {align-items: flex-start;}
.comments-list__header {align-items: center;margin-bottom: 8px;}
.comments-list__avatar .avatar {width: 40px;height: 40px;border-radius: 50%;display: block;}
.comments-list__avatar {position: relative;flex-shrink: 0;display: flex;align-items: center;gap: 8px;}
.breakdance .comments-list__metadata {font-size: .875em;color: var(--commentsGray400);margin: 0;}
.breakdance .comments-list__metadata a {text-decoration: none;color: var(--commentsGray400);}
.comments-list__metadata-list {display: flex;margin: 0;padding: 0;flex-direction: row;gap: 3px;list-style-type: none;align-items: center;}
.comments-list__metadata-list li:after {content: "∙";display: inline-block;margin-left: 3px;}
.comments-list__metadata-list li:last-child:after {display: none;}
.comments-list__entry {margin-bottom: 16px;}
.breakdance .comments-list__text p {font-size: 1em;line-height: 1.4;}
.comments-list__text p:last-child {margin-bottom: 0;}
.comments-list__text p:first-child {margin-top: 0;}
.breakdance .bde-comments-list .children {list-style-type: none;margin: 0;padding: 0;margin-left: 30px;display: flex;flex-direction: column;gap: var(--commentsGap);position: relative;}
.comments-list__arrow {width: 20px;height: 20px;color: var(--commentsGray400);display: none;flex-shrink: 0;}
.comments-list__comment {width: 100%;}
.comments-list__item {width: 100%;}
.children li.comments-list__item .comments-list__arrow {display: block;visibility: hidden;}
.children li.comments-list__item:nth-of-type(1) .comments-list__arrow {visibility: visible;}
.children li.comments-list__item .comments-list__avatar--header .comments-list__arrow {display: none;}
.children li.comments-list__item:nth-of-type(1) .comments-list__avatar--header .comments-list__arrow {display: block;}
.breakdance .bde-comment-form {max-width: 100%;width: 500px;}
.breakdance .bde-comment-form .comment-notes, .bde-comment-form .logged-in-as {grid-column-start: span 12;}
@media (max-width:768px) {.breakdance .bde-comment-form .comment-notes, .bde-comment-form .logged-in-as {grid-column-start: unset !important;}}
.breakdance .bde-comment-form .comment-respond .breakdance-form-field {padding-left: 0;}
.breakdance .bde-comment-form .form-submit {margin: 0;}
.breakdance .bde-comment-form .comment-respond a {color: var(--bde-brand-primary-color);}
.breakdance .bde-comment-form .comment-reply-title small {font-size: 100%;}
.breakdance .bde-comment-form .required-field-message {display: block;margin-top: 12px;}
.comments-form__closed {margin-top: 24px;}
.breakdance-form--comments {margin: 0;width: 100%;}
.breakdance .bde-comment-form .comment-reply-title {margin: 0;font-size: 24px;font-weight: 500;}