.breakdance .bde-section-231-109 .section-container {flex-wrap: wrap;flex-direction: row;align-items: center;justify-content: space-between;}
.breakdance .bde-section-231-109 {background-color: var(--bde-body-text-color);}
.breakdance .bde-section-231-109 .section-container {max-width: 1400px;}
.breakdance .bde-section-231-109 .section-container {padding-left: 100px;padding-right: 100px;padding-bottom: 20px;padding-top: 20px;}
@media (max-width:479px) {.breakdance .bde-section-231-109 .section-container {padding-left: 20px;padding-right: 20px;}}
.breakdance .bde-div-231-272 {flex-wrap: wrap;flex-direction: row;align-items: center;justify-content: center;}
@media (max-width:479px) {.breakdance .bde-div-231-272 {display: none;}}
.breakdance .bde-heading-231-273 {font-size: 24px;}
.breakdance .bde-button-231-274 .bde-button__button {--bde-button-custom-border-color: #fff;--bde-button-custom-border-color-hover: #c8b459;--bde-button-custom-background-color: transparent;--bde-button-custom-background-color-hover: #ddc577;--bde-button-custom-text-color: #fff;--bde-button-custom-text-color-hover: #1d1d1d;border-radius: 7px;border-width: 3px;font-size: 22px;font-weight: 900;letter-spacing: 2px;}
.breakdance .bde-button-231-274 .bde-button__button:hover {color: #1d1d1d;}
.breakdance .bde-button-231-274 {margin-left: 30px;}
.breakdance .bde-section-231-100 .section-container {justify-content: center;}
.breakdance .bde-section-231-100 .section-container {min-height: 80vh;}
.breakdance .bde-section-231-100 .section-container {max-width: 1400px;}
.breakdance .bde-section-231-100 .section-container {padding-left: 100px;padding-right: 100px;padding-bottom: 0px;padding-top: 0px;}
@media (max-width:1119px) {.breakdance .bde-section-231-100 .section-container {padding-left: 20px;padding-right: 20px;}}
@media (max-width:479px) {.breakdance .bde-section-231-100 .section-container {padding-left: 20px;padding-right: 20px;padding-bottom: 50px;padding-top: 50px;}}
.breakdance .bde-columns-231-101 {--columncount: 2;margin-bottom: 0px;}
@media (max-width:1119px) {.breakdance .bde-columns-231-101 {--columncount: 2;}
	.breakdance .bde-columns-231-101.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-231-101.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-231-101 {--columncount: 2;}}
@media (max-width:767px) {.breakdance .bde-columns-231-101 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-231-101 {--columncount: 2;}}
.breakdance .bde-column-231-102 {--column-width: 60.08%;justify-content: center;}
@media (max-width:1119px) {.breakdance .bde-column-231-102 {order: 1;}}
.breakdance .bde-heading-231-104 {line-height: 55px;}
@media (max-width:479px) {.breakdance .bde-heading-231-104 {font-size: 34px;line-height: 40px;}}
.breakdance .bde-text-231-105 {margin-top: 15px;margin-bottom: 15px;}
.breakdance .bde-button-231-106 .bde-button__button {--bde-transition-duration: 1000ms;--bde-transition-duration: 0;--bde-transition-duration: 0;--bde-button-custom-border-color: transparent;--bde-button-custom-border-color-hover: transparent;--bde-button-custom-text-color: #fff;--bde-button-custom-text-color-hover: #fff;--bde-button-custom-background-color: radial-gradient(rgba(231,205,133,1) 0%,rgba(191,173,76,1) 100%);--bde-button-custom-background-color-hover: radial-gradient(rgba(191,173,76,1) 0%,rgba(231,205,133,1) 100%);border-radius: 7px;border-width: 0;color: #fff;font-size: 24px;font-weight: 800;box-shadow: 5px 20px 75px 0px rgba(0,0,0,.15);}
@media (max-width:479px) {.breakdance .bde-button-231-106 .bde-button__button {font-size: 18px;}}
.breakdance .bde-column-231-103 {--column-width: 39.92%;justify-content: center;}
.breakdance .bde-div-231-108 {width: 500px;}
.breakdance .bde-section-231-296 .section-container {flex-wrap: wrap;flex-direction: row;align-items: center;justify-content: center;}
.breakdance .bde-section-231-296 {background-color: #c7b358;}
.breakdance .bde-section-231-296 .section-container {padding-bottom: 0px;padding-top: 0px;}
@media (min-width:1120px) {.breakdance .bde-section-231-296 {display: none;}}
@media (max-width:1119px) and (min-width:1024px) {.breakdance .bde-section-231-296 {display: none;}}
@media (max-width:1023px) and (min-width:768px) {.breakdance .bde-section-231-296 {display: none;}}
@media (max-width:767px) and (min-width:480px) {.breakdance .bde-section-231-296 {display: none;}}
@media (max-width:479px) {.breakdance .bde-div-231-306 {width: 100%;}}
.breakdance .bde-button-231-307 .bde-button__button {--bde-button-custom-border-color: transparent;--bde-button-custom-border-color-hover: transparent;--bde-button-custom-text-color: #fff;--bde-button-custom-text-color-hover: #fff;--bde-button-custom-background-color: #c7b358;--bde-button-custom-background-color-hover: #c7b358;}
.breakdance .bde-button-231-307 .bde-button__button::after {content: "";display: block;background-color: currentColor;width: .9em;height: .9em;margin-right: 4px;margin-left: 4px;mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%220%200%2035%2035%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M30.2247%2017.0014C30.2247%2013.3178%2028.9414%2010.1926%2026.3748%207.62607C23.8095%205.06075%2020.685%203.77809%2017.0014%203.77809V0C19.3627%200%2021.5748%200.448333%2023.6376%201.345C25.6992%202.24292%2027.4938%203.45569%2029.0214%204.9833C30.5477%206.50964%2031.7599%208.30424%2032.6578%2010.3671C33.5544%2012.4286%2034.0028%2014.6401%2034.0028%2017.0014H30.2247ZM22.6685%2017.0014C22.6685%2015.4272%2022.1175%2014.0891%2021.0156%2012.9872C19.9137%2011.8852%2018.5756%2011.3343%2017.0014%2011.3343V7.55617C19.6146%207.55617%2021.8424%208.47677%2023.6848%2010.318C25.526%2012.1604%2026.4466%2014.3882%2026.4466%2017.0014H22.6685ZM32.0193%2034.0972C27.9578%2034.0972%2023.999%2033.1999%2020.1429%2031.4054C16.2854%2029.6108%2012.8694%2027.218%209.89481%2024.227C6.91894%2021.236%204.52615%2017.8118%202.71644%2013.9544C0.905482%2010.0982%200%206.13939%200%202.07795V1.0862C0%200.739876%200.031484%200.409293%200.0944521%200.0944521H11.1454L12.8927%209.5869L7.50895%2015.0179C8.83128%2017.2847%2010.4924%2019.4099%2012.4922%2021.3934C14.4909%2023.3769%2016.6866%2025.0928%2019.0793%2026.5411L24.5576%2021.0628L34.0028%2022.9519V34.0028C33.6879%2034.0343%2033.3574%2034.0582%2033.011%2034.0746C32.6647%2034.0897%2032.3341%2034.0972%2032.0193%2034.0972Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");mask-position: 0 0;mask-size: 100% 100%;mask-repeat: no-repeat;-webkit-mask-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2235%22%20height%3D%2235%22%20viewBox%3D%220%200%2035%2035%22%20fill%3D%22none%22%3E%0A%3Cpath%20d%3D%22M30.2247%2017.0014C30.2247%2013.3178%2028.9414%2010.1926%2026.3748%207.62607C23.8095%205.06075%2020.685%203.77809%2017.0014%203.77809V0C19.3627%200%2021.5748%200.448333%2023.6376%201.345C25.6992%202.24292%2027.4938%203.45569%2029.0214%204.9833C30.5477%206.50964%2031.7599%208.30424%2032.6578%2010.3671C33.5544%2012.4286%2034.0028%2014.6401%2034.0028%2017.0014H30.2247ZM22.6685%2017.0014C22.6685%2015.4272%2022.1175%2014.0891%2021.0156%2012.9872C19.9137%2011.8852%2018.5756%2011.3343%2017.0014%2011.3343V7.55617C19.6146%207.55617%2021.8424%208.47677%2023.6848%2010.318C25.526%2012.1604%2026.4466%2014.3882%2026.4466%2017.0014H22.6685ZM32.0193%2034.0972C27.9578%2034.0972%2023.999%2033.1999%2020.1429%2031.4054C16.2854%2029.6108%2012.8694%2027.218%209.89481%2024.227C6.91894%2021.236%204.52615%2017.8118%202.71644%2013.9544C0.905482%2010.0982%200%206.13939%200%202.07795V1.0862C0%200.739876%200.031484%200.409293%200.0944521%200.0944521H11.1454L12.8927%209.5869L7.50895%2015.0179C8.83128%2017.2847%2010.4924%2019.4099%2012.4922%2021.3934C14.4909%2023.3769%2016.6866%2025.0928%2019.0793%2026.5411L24.5576%2021.0628L34.0028%2022.9519V34.0028C33.6879%2034.0343%2033.3574%2034.0582%2033.011%2034.0746C32.6647%2034.0897%2032.3341%2034.0972%2032.0193%2034.0972Z%22%20fill%3D%22white%22%2F%3E%0A%3C%2Fsvg%3E");-webkit-mask-position: 0 0;-webkit-mask-size: 100% 100%;transition-timing-function: ease-in-out;transition-property: transform;transition-duration: var(--bde-transition-duration);}
.breakdance .bde-button-231-307 .bde-button__button {flex-direction: row-reverse;}
@media (max-width:479px) {.breakdance .bde-button-231-307 {width: 100%;}
	.breakdance .bde-button-231-307 .bde-button__button {font-weight: 900;}
	.breakdance .bde-button-231-307 .bde-button__button {width: 100%;display: flex;}
	.breakdance .bde-button-231-307 .bde-button__button::after {margin-right: 10px;}}
.breakdance .bde-section-231-110 .section-container {max-width: 1400px;}
.breakdance .bde-section-231-110 .section-container {padding-left: 100px;padding-right: 100px;padding-bottom: 0px;padding-top: 2px;}
@media (max-width:479px) {.breakdance .bde-section-231-110 .section-container {padding-left: 20px;padding-right: 20px;}}
.breakdance .bde-heading-231-112 {line-height: 55px;}
@media (max-width:479px) {.breakdance .bde-heading-231-112 {font-size: 34px;line-height: 40px;}}
.breakdance .bde-text-231-113 {font-size: 30px;font-weight: 800;margin-top: 40px;}
@media (max-width:479px) {.breakdance .bde-text-231-113 {font-size: 24px;margin-top: 10px;}}
.breakdance .bde-columns-231-114 {--columncount: 3;margin-top: 60px;}
@media (max-width:1119px) {.breakdance .bde-columns-231-114 {--columncount: 3;}
	.breakdance .bde-columns-231-114.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-231-114.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-231-114 {--columncount: 3;}}
@media (max-width:767px) {.breakdance .bde-columns-231-114 {--columncount: 3;}}
@media (max-width:479px) {.breakdance .bde-columns-231-114 {--columncount: 3;margin-top: 25px;}}
.breakdance .bde-column-231-115 {--column-width: 30%;}
@media (max-width:479px) {.breakdance .bde-column-231-115 {align-items: center;text-align: center;justify-content: center;}}
@media (max-width:479px) {.breakdance .bde-div-231-260 {width: 150px;}}
.breakdance .bde-column-231-116 {--column-width: 36.66%;gap: 50px;}
.breakdance .bde-div-231-119 {width: 100%;gap: 20px;flex-wrap: wrap;flex-direction: row;align-items: center;}
.breakdance .bde-columns-231-152 {--columncount: 2;--bde-column-gap: 0px;}
@media (max-width:1119px) {.breakdance .bde-columns-231-152 {--columncount: 2;}
	.breakdance .bde-columns-231-152.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-231-152.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-231-152 {--columncount: 2;}}
@media (max-width:767px) {.breakdance .bde-columns-231-152 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-231-152 {--columncount: 2;}}
.breakdance .bde-column-231-153 {--column-width: 23.92%;}
@media (max-width:479px) {.breakdance .bde-column-231-153.bde-column {padding-bottom: 20px;}}
.breakdance .bde-column-231-154 {--column-width: 76.08%;}
.breakdance .bde-heading-231-123 {font-size: 22px;}
.breakdance .bde-heading-231-123 {display: inline-block;}
.breakdance .bde-text-231-124 {font-size: 18px;line-height: 1.5;margin-bottom: 10px;}
.breakdance .bde-text-231-124 {display: inline-block;}
.breakdance .bde-div-231-155 {width: 100%;gap: 20px;flex-wrap: wrap;flex-direction: row;align-items: center;}
.breakdance .bde-columns-231-156 {--columncount: 2;--bde-column-gap: 0px;}
@media (max-width:1119px) {.breakdance .bde-columns-231-156 {--columncount: 2;}
	.breakdance .bde-columns-231-156.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-231-156.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-231-156 {--columncount: 2;}}
@media (max-width:767px) {.breakdance .bde-columns-231-156 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-231-156 {--columncount: 2;}}
.breakdance .bde-column-231-157 {--column-width: 23.92%;}
@media (max-width:479px) {.breakdance .bde-column-231-157.bde-column {padding-bottom: 20px;}}
.breakdance .bde-column-231-159 {--column-width: 76.08%;}
.breakdance .bde-heading-231-160 {font-size: 22px;}
.breakdance .bde-heading-231-160 {display: inline-block;}
.breakdance .bde-text-231-161 {font-size: 18px;line-height: 1.5;margin-bottom: 10px;}
.breakdance .bde-text-231-161 {display: inline-block;}
.breakdance .bde-column-231-162 {--column-width: 33.34%;gap: 50px;}
.breakdance .bde-div-231-163 {width: 100%;gap: 20px;flex-wrap: wrap;flex-direction: row;align-items: center;}
.breakdance .bde-columns-231-164 {--columncount: 2;--bde-column-gap: 0px;}
@media (max-width:1119px) {.breakdance .bde-columns-231-164 {--columncount: 2;}
	.breakdance .bde-columns-231-164.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-231-164.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-231-164 {--columncount: 2;}}
@media (max-width:767px) {.breakdance .bde-columns-231-164 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-231-164 {--columncount: 2;}}
.breakdance .bde-column-231-165 {--column-width: 23.92%;}
@media (max-width:479px) {.breakdance .bde-column-231-165.bde-column {padding-bottom: 20px;}}
.breakdance .bde-column-231-167 {--column-width: 76.08%;}
.breakdance .bde-heading-231-168 {font-size: 22px;}
.breakdance .bde-heading-231-168 {display: inline-block;}
.breakdance .bde-text-231-169 {font-size: 18px;line-height: 1.5;margin-bottom: 10px;}
.breakdance .bde-text-231-169 {display: inline-block;}
.breakdance .bde-div-231-170 {width: 100%;gap: 20px;flex-wrap: wrap;flex-direction: row;align-items: center;}
.breakdance .bde-columns-231-171 {--columncount: 2;--bde-column-gap: 0px;}
@media (max-width:1119px) {.breakdance .bde-columns-231-171 {--columncount: 2;}
	.breakdance .bde-columns-231-171.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-231-171.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-231-171 {--columncount: 2;}}
@media (max-width:767px) {.breakdance .bde-columns-231-171 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-231-171 {--columncount: 2;}}
.breakdance .bde-column-231-172 {--column-width: 23.92%;}
@media (max-width:479px) {.breakdance .bde-column-231-172.bde-column {padding-bottom: 20px;}}
.breakdance .bde-column-231-174 {--column-width: 76.08%;}
.breakdance .bde-heading-231-175 {font-size: 22px;}
.breakdance .bde-heading-231-175 {display: inline-block;}
.breakdance .bde-text-231-176 {font-size: 18px;line-height: 1.5;margin-bottom: 10px;}
.breakdance .bde-text-231-176 {display: inline-block;}
.breakdance .bde-div-231-179 {width: 100%;align-items: center;text-align: center;}
.breakdance .bde-button-231-178 {margin-top: 33px;}
.breakdance .bde-button-231-178 .bde-button__button {--bde-transition-duration: 1000ms;--bde-transition-duration: 0;--bde-transition-duration: 0;--bde-button-custom-border-color: transparent;--bde-button-custom-border-color-hover: transparent;--bde-button-custom-text-color: #fff;--bde-button-custom-text-color-hover: #fff;--bde-button-custom-background-color: radial-gradient(rgba(231,205,133,1) 0%,rgba(191,173,76,1) 100%);--bde-button-custom-background-color-hover: radial-gradient(rgba(191,173,76,1) 0%,rgba(231,205,133,1) 100%);border-radius: 7px;border-width: 0;color: #fff;font-size: 24px;font-weight: 800;box-shadow: 5px 20px 75px 0px rgba(0,0,0,.15);}
@media (max-width:479px) {.breakdance .bde-button-231-178 .bde-button__button {font-size: 18px;}}
.breakdance .bde-section-231-125 .section-container {padding-bottom: 30px;padding-top: 80px;}
@media (max-width:1119px) {.breakdance .bde-section-231-125 .section-container {padding-left: 20px;padding-right: 20px;}}
@media (max-width:479px) {.breakdance .bde-section-231-125 .section-container {padding-bottom: 50px;padding-top: 28px;}}
.breakdance .bde-columns-231-180 {--columncount: 2;}
@media (max-width:1119px) {.breakdance .bde-columns-231-180 {--columncount: 2;}
	.breakdance .bde-columns-231-180.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-231-180.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-231-180 {--columncount: 2;}}
@media (max-width:767px) {.breakdance .bde-columns-231-180 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-231-180 {--columncount: 2;}
	.breakdance .bde-columns-231-180>div:nth-child(1) {order: 10;}
	.breakdance .bde-columns-231-180>div:nth-child(2) {order: 9;}
	.breakdance .bde-columns-231-180>div:nth-child(3) {order: 8;}
	.breakdance .bde-columns-231-180>div:nth-child(4) {order: 7;}
	.breakdance .bde-columns-231-180>div:nth-child(5) {order: 6;}
	.breakdance .bde-columns-231-180>div:nth-child(6) {order: 5;}
	.breakdance .bde-columns-231-180>div:nth-child(7) {order: 4;}
	.breakdance .bde-columns-231-180>div:nth-child(8) {order: 3;}
	.breakdance .bde-columns-231-180>div:nth-child(9) {order: 2;}
	.breakdance .bde-columns-231-180>div:nth-child(10) {order: 1;}}
.breakdance .bde-column-231-181 {--column-width: 50%;justify-content: center;}
.breakdance .bde-heading-231-183 {line-height: 55px;}
@media (max-width:479px) {.breakdance .bde-heading-231-183 {font-size: 34px;line-height: 40px;margin-bottom: 22px;}}
.breakdance .bde-icon-list-231-184 ul {gap: 20px;}
.breakdance .bde-icon-list-231-184 li .bde-icon-list__text {font-size: 20px;font-weight: 800;}
.breakdance .bde-button-231-185 {margin-top: 33px;}
.breakdance .bde-button-231-185 .bde-button__button {--bde-transition-duration: 1000ms;--bde-transition-duration: 0;--bde-transition-duration: 0;--bde-button-custom-border-color: transparent;--bde-button-custom-border-color-hover: transparent;--bde-button-custom-text-color: #fff;--bde-button-custom-text-color-hover: #fff;--bde-button-custom-background-color: radial-gradient(rgba(231,205,133,1) 0%,rgba(191,173,76,1) 100%);--bde-button-custom-background-color-hover: radial-gradient(rgba(191,173,76,1) 0%,rgba(231,205,133,1) 100%);border-radius: 7px;border-width: 0;color: #fff;font-size: 24px;font-weight: 800;box-shadow: 5px 20px 75px 0px rgba(0,0,0,.15);}
@media (max-width:479px) {.breakdance .bde-button-231-185 {margin-top: 26px;}
	.breakdance .bde-button-231-185 .bde-button__button {font-size: 18px;}}
.breakdance .bde-column-231-182 {--column-width: 50%;}
.breakdance .bde-advancedslide-231-230 .advanced-slider__slide {justify-content: flex-start;}
.breakdance .bde-section-231-187 .section-container {padding-bottom: 42px;padding-top: 0px;}
@media (max-width:1119px) {.breakdance .bde-section-231-187 .section-container {padding-left: 20px;padding-right: 20px;}}
@media (max-width:479px) {.breakdance .bde-section-231-187 .section-container {padding-bottom: 51px;padding-top: 0px;}}
.breakdance .bde-columns-231-188 {--columncount: 2;}
@media (max-width:1119px) {.breakdance .bde-columns-231-188 {--columncount: 2;}
	.breakdance .bde-columns-231-188.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-231-188.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-231-188 {--columncount: 2;}}
@media (max-width:767px) {.breakdance .bde-columns-231-188 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-231-188 {--columncount: 2;}}
.breakdance .bde-column-231-189 {--column-width: 50%;}
.breakdance .bde-column-231-190 {--column-width: 50%;justify-content: center;}
.breakdance .bde-heading-231-192 {line-height: 55px;}
@media (max-width:479px) {.breakdance .bde-heading-231-192 {font-size: 34px;line-height: 40px;margin-bottom: 0px;}}
.breakdance .bde-text-231-193 {font-weight: 600;margin-top: 20px;}
.breakdance .bde-button-231-195 {margin-top: 20px;}
.breakdance .bde-button-231-195 .bde-button__button {--bde-button-custom-border-color: transparent;--bde-button-custom-border-color-hover: transparent;--bde-button-custom-text-color: #fff;--bde-button-custom-text-color-hover: #fff;--bde-transition-duration: 0;--bde-button-custom-background-color: radial-gradient(rgba(231,205,133,1) 0%,rgba(191,173,76,1) 100%);--bde-button-custom-background-color-hover: radial-gradient(rgba(231,205,133,1) 0%,rgba(191,173,76,1) 100%);border-radius: 7px;border-width: 0;color: #fff;font-size: 24px;font-weight: 800;}
@media (max-width:479px) {.breakdance .bde-button-231-195 .bde-button__button {font-size: 18px;}}
.breakdance .bde-section-231-196 .section-container {max-width: 1400px;}
.breakdance .bde-section-231-196 .section-container {padding-left: 100px;padding-right: 100px;padding-bottom: 30px;padding-top: 30px;}
@media (max-width:479px) {.breakdance .bde-section-231-196 .section-container {padding-left: 20px;padding-right: 20px;}}
.breakdance .bde-columns-231-197 {--columncount: 2;}
@media (max-width:1119px) {.breakdance .bde-columns-231-197 {--columncount: 2;}
	.breakdance .bde-columns-231-197.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-231-197.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-231-197 {--columncount: 2;}}
@media (max-width:767px) {.breakdance .bde-columns-231-197 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-231-197 {--columncount: 2;}
	.breakdance .bde-columns-231-197>div:nth-child(1) {order: 10;}
	.breakdance .bde-columns-231-197>div:nth-child(2) {order: 9;}
	.breakdance .bde-columns-231-197>div:nth-child(3) {order: 8;}
	.breakdance .bde-columns-231-197>div:nth-child(4) {order: 7;}
	.breakdance .bde-columns-231-197>div:nth-child(5) {order: 6;}
	.breakdance .bde-columns-231-197>div:nth-child(6) {order: 5;}
	.breakdance .bde-columns-231-197>div:nth-child(7) {order: 4;}
	.breakdance .bde-columns-231-197>div:nth-child(8) {order: 3;}
	.breakdance .bde-columns-231-197>div:nth-child(9) {order: 2;}
	.breakdance .bde-columns-231-197>div:nth-child(10) {order: 1;}}
.breakdance .bde-column-231-200 {--column-width: 49.72%;}
.breakdance .bde-heading-231-201 {line-height: 55px;}
@media (max-width:479px) {.breakdance .bde-heading-231-201 {font-size: 34px;line-height: 40px;margin-bottom: 0px;}}
.breakdance .bde-text-231-202 {font-weight: 600;margin-top: 20px;}
.breakdance .bde-text-231-203 {font-weight: 600;margin-top: 20px;}
.breakdance .bde-button-231-205 {margin-top: 20px;}
.breakdance .bde-button-231-205 .bde-button__button {--bde-button-custom-border-color: transparent;--bde-button-custom-border-color-hover: transparent;--bde-button-custom-text-color: #fff;--bde-button-custom-text-color-hover: #fff;--bde-transition-duration: 0;--bde-button-custom-background-color: radial-gradient(rgba(231,205,133,1) 0%,rgba(191,173,76,1) 100%);--bde-button-custom-background-color-hover: radial-gradient(rgba(231,205,133,1) 0%,rgba(191,173,76,1) 100%);border-radius: 7px;border-width: 0;color: #fff;font-size: 24px;font-weight: 800;}
@media (max-width:479px) {.breakdance .bde-button-231-205 .bde-button__button {font-size: 18px;}}
.breakdance .bde-column-231-198 {--column-width: 50.28%;align-items: center;text-align: center;justify-content: center;}
.breakdance .bde-section-231-206 .section-container {max-width: 1400px;}
.breakdance .bde-section-231-206 .section-container {padding-left: 100px;padding-right: 100px;padding-bottom: 30px;padding-top: 30px;}
@media (max-width:479px) {.breakdance .bde-section-231-206 .section-container {padding-left: 20px;padding-right: 20px;}}
.breakdance .bde-columns-231-207 {--columncount: 2;}
@media (max-width:1119px) {.breakdance .bde-columns-231-207 {--columncount: 2;}
	.breakdance .bde-columns-231-207.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-231-207.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-231-207 {--columncount: 2;}}
@media (max-width:767px) {.breakdance .bde-columns-231-207 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-231-207 {--columncount: 2;}}
.breakdance .bde-column-231-214 {--column-width: 50.28%;align-items: center;text-align: center;justify-content: center;}
.breakdance .bde-column-231-208 {--column-width: 49.72%;}
.breakdance .bde-heading-231-209 {line-height: 55px;}
@media (max-width:479px) {.breakdance .bde-heading-231-209 {font-size: 34px;line-height: 40px;margin-bottom: 0px;}}
.breakdance .bde-text-231-210 {font-weight: 600;margin-top: 20px;}
.breakdance .bde-text-231-211 {font-weight: 600;margin-top: 20px;}
.breakdance .bde-text-231-212 {font-weight: 600;margin-top: 20px;}
.breakdance .bde-button-231-216 {margin-top: 20px;}
.breakdance .bde-button-231-216 .bde-button__button {--bde-button-custom-border-color: transparent;--bde-button-custom-border-color-hover: transparent;--bde-button-custom-text-color: #fff;--bde-button-custom-text-color-hover: #fff;--bde-transition-duration: 0;--bde-button-custom-background-color: radial-gradient(rgba(231,205,133,1) 0%,rgba(191,173,76,1) 100%);--bde-button-custom-background-color-hover: radial-gradient(rgba(231,205,133,1) 0%,rgba(191,173,76,1) 100%);border-radius: 7px;border-width: 0;color: #fff;font-size: 24px;font-weight: 800;}
@media (max-width:479px) {.breakdance .bde-button-231-216 .bde-button__button {font-size: 18px;}}
@media (max-width:479px) {.breakdance .bde-section-231-240 .section-container {padding-bottom: 80px;padding-top: 40px;}}
.breakdance .bde-columns-231-241 {--columncount: 2;}
@media (max-width:1119px) {.breakdance .bde-columns-231-241 {--columncount: 2;}
	.breakdance .bde-columns-231-241.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-231-241.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-231-241 {--columncount: 2;}}
@media (max-width:767px) {.breakdance .bde-columns-231-241 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-231-241 {--columncount: 2;}}
.breakdance .bde-column-231-242 {--column-width: 65%;}
.breakdance .bde-heading-231-244 {font-weight: 400;line-height: 55px;margin-bottom: 19px;}
@media (max-width:479px) {.breakdance .bde-heading-231-244 {font-size: 34px;line-height: 40px;margin-bottom: 0px;}}
.breakdance .bde-heading-231-245 {line-height: 55px;}
@media (max-width:479px) {.breakdance .bde-heading-231-245 {font-size: 34px;font-weight: 900;line-height: 40px;margin-top: 15px;margin-bottom: 0px;}}
.breakdance .bde-button-231-247 {margin-top: 20px;}
.breakdance .bde-button-231-247 .bde-button__button {--bde-button-custom-border-color: transparent;--bde-button-custom-border-color-hover: transparent;--bde-button-custom-text-color: #fff;--bde-button-custom-text-color-hover: #fff;--bde-transition-duration: 0;--bde-button-custom-background-color: radial-gradient(rgba(231,205,133,1) 0%,rgba(191,173,76,1) 100%);--bde-button-custom-background-color-hover: radial-gradient(rgba(231,205,133,1) 0%,rgba(191,173,76,1) 100%);border-radius: 7px;border-width: 0;color: #fff;font-size: 24px;font-weight: 800;}
@media (max-width:479px) {.breakdance .bde-button-231-247 {margin-top: 15px;}
	.breakdance .bde-button-231-247 .bde-button__button {font-size: 18px;}}
.breakdance .bde-column-231-243 {--column-width: 35%;}
.breakdance .bde-column-231-243 {background-color: var(--bde-brand-primary-color);}
.breakdance .bde-column-231-243.bde-column {padding: 30px 30px 30px 30px;}
.breakdance .bde-heading-231-246 {line-height: 55px;}
@media (max-width:479px) {.breakdance .bde-heading-231-246 {font-size: 34px;line-height: 40px;margin-bottom: 0px;}}
.breakdance .bde-section-231-248 .section-container {align-items: center;text-align: center;}
.breakdance .bde-section-231-248 {background-color: var(--bde-body-text-color);}
.breakdance .bde-section-231-248 .section-container {padding-bottom: 31px;padding-top: 21px;}
@media (max-width:479px) {.breakdance .bde-section-231-248 .section-container {padding-bottom: 10px;padding-top: 10px;}}
.breakdance .bde-text-231-249 {font-size: 24px;}
@media (max-width:479px) {.breakdance .bde-text-231-249 {font-size: 18px;}}
.breakdance .bde-text-231-250 {margin-top: 23px;}
@media (max-width:479px) {.breakdance .bde-text-231-250 {font-size: 16px;}}