@media (max-width:1023px) {.breakdance .bde-section-2013-100 .section-container {padding-left: 30px;padding-right: 30px;}}
.breakdance .bde-columns-2013-101 {--columncount: 2;}
@media (max-width:1119px) {.breakdance .bde-columns-2013-101 {--columncount: 2;}
	.breakdance .bde-columns-2013-101.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-2013-101.bde-columns>.bde-column {width: 100%;}
	.breakdance .bde-columns-2013-101>div:nth-child(1) {order: 10;}
	.breakdance .bde-columns-2013-101>div:nth-child(2) {order: 9;}
	.breakdance .bde-columns-2013-101>div:nth-child(3) {order: 8;}
	.breakdance .bde-columns-2013-101>div:nth-child(4) {order: 7;}
	.breakdance .bde-columns-2013-101>div:nth-child(5) {order: 6;}
	.breakdance .bde-columns-2013-101>div:nth-child(6) {order: 5;}
	.breakdance .bde-columns-2013-101>div:nth-child(7) {order: 4;}
	.breakdance .bde-columns-2013-101>div:nth-child(8) {order: 3;}
	.breakdance .bde-columns-2013-101>div:nth-child(9) {order: 2;}
	.breakdance .bde-columns-2013-101>div:nth-child(10) {order: 1;}}
@media (max-width:1023px) {.breakdance .bde-columns-2013-101 {--columncount: 2;}}
@media (max-width:767px) {.breakdance .bde-columns-2013-101 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-2013-101 {--columncount: 2;}}
.breakdance .bde-column-2013-102 {--column-width: 59.2%;justify-content: center;}
.breakdance .bde-column-2013-102 {z-index: 100;}
@media (max-width:479px) {.breakdance .bde-column-2013-102 {gap: 0px;}}
.breakdance .bde-heading-2013-104 {font-size: 42px;margin-top: 15px;margin-bottom: 20px;}
@media (max-width:767px) {.breakdance .bde-heading-2013-104 {font-size: 2rem;}}
@media (max-width:479px) {.breakdance .bde-heading-2013-104 {font-size: 32px;}}
.breakdance .bde-text-2013-105 {margin-bottom: 20px;}
@media (max-width:479px) {.breakdance .bde-text-2013-105 {font-size: 16px;margin-top: 0px;}}
@media (max-width:479px) {.breakdance .bde-button-2013-106 {margin-top: 5px;}}
.breakdance .bde-column-2013-111 {--column-width: 40.8%;}
@media (max-width:1119px) {.breakdance .bde-column-2013-111 {align-items: center;text-align: center;}}
@media (max-width:1119px) {.breakdance .bde-image-2013-203 {width: 48%;}
	.breakdance .bde-image-2013-203 .breakdance-image-object {width: 100%;height: auto;}}
@media (max-width:767px) {.breakdance .bde-image-2013-203 {width: 70%;}
	.breakdance .bde-image-2013-203 .breakdance-image-object {width: 100%;height: auto;}}
@media (max-width:479px) {.breakdance .bde-image-2013-203 {width: 90%;}
	.breakdance .bde-image-2013-203 .breakdance-image-object {width: 100%;height: auto;}}
.breakdance .bde-section-2013-156 .section-container {flex-wrap: wrap;flex-direction: row;align-items: center;justify-content: center;}
.breakdance .bde-section-2013-156 .section-container {padding-bottom: 0px;padding-top: 0px;}
.breakdance .bde-heading-2013-167 {font-weight: 800;margin-bottom: 0px;}
@media (max-width:1023px) {.breakdance .bde-heading-2013-167 {margin-bottom: 18px;}}
.breakdance .bde-div-2013-165 {gap: 90px;flex-wrap: wrap;flex-direction: row;align-items: center;justify-content: center;}
@media (max-width:479px) {.breakdance .bde-div-2013-165 {gap: 25px;flex-wrap: wrap;flex-direction: row;flex-direction: column;align-items: center;justify-content: center;}}
.breakdance .bde-image-2013-161 {width: 300px;}
.breakdance .bde-image-2013-161 .breakdance-image-object {width: 100%;height: auto;}
.breakdance .bde-image-2013-161 {mix-blend-mode: luminosity;}
.breakdance .bde-image-2013-161:hover {mix-blend-mode: normal;}
@media (max-width:1023px) {.breakdance .bde-image-2013-161 {width: 150px;}
	.breakdance .bde-image-2013-161 .breakdance-image-object {width: 100%;height: auto;}}
@media (max-width:479px) {.breakdance .bde-image-2013-161 {margin-top: 21px;width: 159px;}
	.breakdance .bde-image-2013-161 .breakdance-image-object {width: 100%;height: auto;}}
.breakdance .bde-image-2013-162 {width: 229px;}
.breakdance .bde-image-2013-162 .breakdance-image-object {width: 100%;height: auto;}
.breakdance .bde-image-2013-162 {opacity: 1;mix-blend-mode: luminosity;}
.breakdance .bde-image-2013-162:hover {mix-blend-mode: normal;}
@media (max-width:1023px) {.breakdance .bde-image-2013-162 {width: 150px;}
	.breakdance .bde-image-2013-162 .breakdance-image-object {width: 100%;height: auto;}}
@media (max-width:479px) {.breakdance .bde-image-2013-162 {margin-top: 9px;}}
.breakdance .bde-image-2013-163 {width: 199px;}
.breakdance .bde-image-2013-163 .breakdance-image-object {width: 100%;height: auto;}
.breakdance .bde-image-2013-163 {opacity: .5;mix-blend-mode: luminosity;}
.breakdance .bde-image-2013-163:hover {opacity: 1;}
@media (max-width:1023px) {.breakdance .bde-image-2013-163 {width: 150px;}
	.breakdance .bde-image-2013-163 .breakdance-image-object {width: 100%;height: auto;}}
@media (max-width:479px) {.breakdance .bde-image-2013-163 {width: 93px;}
	.breakdance .bde-image-2013-163 .breakdance-image-object {width: 100%;height: auto;}}
.breakdance .bde-section-2013-112 .section-container {padding-bottom: 30px;padding-top: 10px;}
@media (max-width:1023px) {.breakdance .bde-section-2013-112 .section-container {padding-left: 30px;padding-right: 30px;}}
.breakdance .bde-columns-2013-113 {--columncount: 2;margin-top: 0px;}
@media (max-width:1119px) {.breakdance .bde-columns-2013-113 {--columncount: 2;}
	.breakdance .bde-columns-2013-113.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-2013-113.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-2013-113 {--columncount: 2;}}
@media (max-width:767px) {.breakdance .bde-columns-2013-113 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-2013-113 {--columncount: 2;}}
.breakdance .bde-column-2013-114 {--column-width: 41.35%;align-items: flex-start;text-align: left;}
@media (max-width:1119px) and (min-width:1024px) {.breakdance .bde-column-2013-114 {display: none;}}
@media (max-width:1023px) and (min-width:768px) {.breakdance .bde-column-2013-114 {display: none;}}
@media (max-width:767px) and (min-width:480px) {.breakdance .bde-lottie-animation-2013-119 {display: none;}}
@media (max-width:479px) {.breakdance .bde-lottie-animation-2013-119 {display: none;}}
.breakdance .bde-column-2013-115 {--column-width: 58.65%;justify-content: center;}
.breakdance .bde-text-2013-117 {margin-bottom: 20px;}
@media (max-width:479px) {.breakdance .bde-text-2013-117 {font-size: 16px;margin-bottom: 10px;}}
@media (max-width:479px) {.breakdance .bde-button-2013-118 {margin-top: 16px;}}
@media (max-width:1023px) {.breakdance .bde-section-2013-120 .section-container {padding-left: 30px;padding-right: 30px;}}
@media (max-width:479px) {.breakdance .bde-section-2013-120 .section-container {padding-top: 0px;}}
.breakdance .bde-div-2013-133 {width: 50px;min-height: 300px;align-items: flex-start;text-align: left;justify-content: center;}
.breakdance .bde-div-2013-133 {background-color: #383838;background: linear-gradient(0deg,rgba(10,10,10,1) 0%,rgba(63,63,63,1) 97.948717948718%);}
.breakdance .bde-div-2013-133 {position: absolute;left: -5%;}
@media (max-width:767px) and (min-width:480px) {.breakdance .bde-div-2013-133 {display: none;}}
@media (max-width:479px) {.breakdance .bde-div-2013-133 {display: none;}}
.breakdance .bde-columns-2013-121 {--columncount: 2;}
@media (max-width:1119px) {.breakdance .bde-columns-2013-121 {--columncount: 2;}
	.breakdance .bde-columns-2013-121.bde-columns {flex-direction: column;flex-wrap: nowrap;}
	.breakdance .bde-columns-2013-121.bde-columns>.bde-column {width: 100%;}}
@media (max-width:1023px) {.breakdance .bde-columns-2013-121 {--columncount: 2;}
	.breakdance .bde-columns-2013-121>div:nth-child(1) {order: 10;}
	.breakdance .bde-columns-2013-121>div:nth-child(2) {order: 9;}
	.breakdance .bde-columns-2013-121>div:nth-child(3) {order: 8;}
	.breakdance .bde-columns-2013-121>div:nth-child(4) {order: 7;}
	.breakdance .bde-columns-2013-121>div:nth-child(5) {order: 6;}
	.breakdance .bde-columns-2013-121>div:nth-child(6) {order: 5;}
	.breakdance .bde-columns-2013-121>div:nth-child(7) {order: 4;}
	.breakdance .bde-columns-2013-121>div:nth-child(8) {order: 3;}
	.breakdance .bde-columns-2013-121>div:nth-child(9) {order: 2;}
	.breakdance .bde-columns-2013-121>div:nth-child(10) {order: 1;}}
@media (max-width:767px) {.breakdance .bde-columns-2013-121 {--columncount: 2;}}
@media (max-width:479px) {.breakdance .bde-columns-2013-121 {--columncount: 2;}}
.breakdance .bde-column-2013-122 {--column-width: 50%;}
.breakdance .bde-heading-2013-125 {font-family: "Inter",sans-serif;font-size: 44px;font-weight: 600;background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;-webkit-text-stroke-color: #232323;-webkit-text-stroke-width: 1px;margin-bottom: 0px;}
@media (max-width:479px) {.breakdance .bde-heading-2013-125 {font-size: 30px;}}
.breakdance .bde-fancy-divider-2013-130 {margin-top: 10px;margin-bottom: 10px;--bde-fancy-divider-border-style: solid;}
@media (max-width:1119px) {.breakdance .bde-fancy-divider-2013-130 {--bde-fancy-divider-border-style: solid;}}
@media (max-width:1023px) {.breakdance .bde-fancy-divider-2013-130 {--bde-fancy-divider-border-style: solid;}}
@media (max-width:767px) {.breakdance .bde-fancy-divider-2013-130 {--bde-fancy-divider-border-style: solid;}}
@media (max-width:479px) {.breakdance .bde-fancy-divider-2013-130 {--bde-fancy-divider-border-style: solid;}}
.breakdance .bde-heading-2013-127 {font-family: "Inter",sans-serif;font-size: 44px;font-weight: 600;background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;-webkit-text-stroke-color: #232323;-webkit-text-stroke-width: 1px;margin-bottom: 0px;}
@media (max-width:479px) {.breakdance .bde-heading-2013-127 {font-size: 30px;}}
.breakdance .bde-fancy-divider-2013-131 {margin-top: 10px;margin-bottom: 10px;--bde-fancy-divider-border-style: solid;}
@media (max-width:1119px) {.breakdance .bde-fancy-divider-2013-131 {--bde-fancy-divider-border-style: solid;}}
@media (max-width:1023px) {.breakdance .bde-fancy-divider-2013-131 {--bde-fancy-divider-border-style: solid;}}
@media (max-width:767px) {.breakdance .bde-fancy-divider-2013-131 {--bde-fancy-divider-border-style: solid;}}
@media (max-width:479px) {.breakdance .bde-fancy-divider-2013-131 {--bde-fancy-divider-border-style: solid;}}
.breakdance .bde-heading-2013-128 {font-family: "Inter",sans-serif;font-size: 44px;font-weight: 600;background-clip: text;-webkit-background-clip: text;-webkit-text-fill-color: transparent;-webkit-text-stroke-color: #232323;-webkit-text-stroke-width: 1px;margin-bottom: 0px;}
@media (max-width:479px) {.breakdance .bde-heading-2013-128 {font-size: 30px;margin-bottom: 0px;}}
.breakdance .bde-button-2013-134 {margin-top: 50px;}
@media (max-width:479px) {.breakdance .bde-button-2013-134 {margin-top: 20px;}}
.breakdance .bde-column-2013-123 {--column-width: 50%;}
@media (max-width:479px) {.breakdance .bde-heading-2013-132 {font-size: 40px;}}
.breakdance .bde-section-2013-136 {background-color: #383838;}
.breakdance .bde-heading-2013-207 {color: #f5f5f5;margin-bottom: 25px;}
.breakdance .bde-div-2013-213 {border-radius: 10px;gap: 20px;flex-wrap: wrap;flex-direction: row;align-items: center;justify-content: space-around;}
.breakdance .bde-div-2013-213 {background-color: var(--bde-background-color);}
.breakdance .bde-div-2013-213 {padding: 30px 30px 30px 30px;}
@media (max-width:479px) {.breakdance .bde-div-2013-213 {padding: 13px 13px 13px 13px;}}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist {--transitiontime: 300ms;gap: 10px;}
.breakdance .bde-advanced-tabs-2013-224 {--bde-tabs-space-after: 20%;}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab-title {font-size: 30px;}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) .bde-tabs__tab-icon>svg {color: var(--inactiveColor);}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active .bde-tabs__tab-icon>svg, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover .bde-tabs__tab-icon>svg {color: var(--activeColor);}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover .bde-tabs__tab-icon>svg {color: var(--hoverColor);}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) {background-color: var(--inactiveBgColor);}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover {background-color: var(--activeBgColor);}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover {background-color: var(--hoverBgColor);}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--default {--activecolor: #4a4a4a;--hovercolor: #ffe929;--activeunderlinecolor: #ffe929;--hoverunderlinecolor: #3c3c3c;--activeunderlinesize: 7px;}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab.is-active:hover::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--default .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--default .bde-tabs__tab.is-active:hover::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--bar .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--bar .bde-tabs__tab.is-active:hover::after {background-color: var(--activeUnderlineColor,--activeColor);}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab:hover::after {background-color: var(--hoverUnderlineColor);}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--pills {--activecolor: #4a4a4a;--hovercolor: #ffe929;}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--pills {gap: 10px;}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--bar {--activecolor: #4a4a4a;--hovercolor: #ffe929;--activeunderlinecolor: #ffe929;--hoverunderlinecolor: #3c3c3c;--activeunderlinesize: 7px;}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist-container {--bde-tabs-space-after: 20%;}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__select {margin-bottom: 20%;}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist-container, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__select {margin-bottom: 0;}
.breakdance .bde-advanced-tabs-2013-224 {display: flex;flex-direction: row;gap: var(--bde-tabs-space-after);align-items: flex-start;}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist-container.is-vertical {overflow: visible;}
.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab-title {text-align: left;}
@media (max-width:1119px) {.breakdance .bde-advanced-tabs-2013-224 {--bde-tabs-space-after: 10%;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) .bde-tabs__tab-icon>svg {color: var(--inactiveColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active .bde-tabs__tab-icon>svg, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover .bde-tabs__tab-icon>svg {color: var(--activeColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover .bde-tabs__tab-icon>svg {color: var(--hoverColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) {background-color: var(--inactiveBgColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover {background-color: var(--activeBgColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover {background-color: var(--hoverBgColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab.is-active:hover::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--default .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--default .bde-tabs__tab.is-active:hover::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--bar .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--bar .bde-tabs__tab.is-active:hover::after {background-color: var(--activeUnderlineColor,--activeColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab:hover::after {background-color: var(--hoverUnderlineColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist-container {--bde-tabs-space-after: 10%;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__select {margin-bottom: 10%;}}
@media (max-width:1023px) {.breakdance .bde-advanced-tabs-2013-224 {--bde-tabs-space-after: 0%;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab-title {font-size: 20px;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) .bde-tabs__tab-icon>svg {color: var(--inactiveColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active .bde-tabs__tab-icon>svg, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover .bde-tabs__tab-icon>svg {color: var(--activeColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover .bde-tabs__tab-icon>svg {color: var(--hoverColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) {background-color: var(--inactiveBgColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover {background-color: var(--activeBgColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover {background-color: var(--hoverBgColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab.is-active:hover::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--default .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--default .bde-tabs__tab.is-active:hover::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--bar .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--bar .bde-tabs__tab.is-active:hover::after {background-color: var(--activeUnderlineColor,--activeColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab:hover::after {background-color: var(--hoverUnderlineColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist-container {--bde-tabs-space-after: 0%;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__select {margin-bottom: 0%;}}
@media (max-width:767px) {.breakdance .bde-advanced-tabs-2013-224 {--bde-tabs-space-after: 15px;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) .bde-tabs__tab-icon>svg {color: var(--inactiveColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active .bde-tabs__tab-icon>svg, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover .bde-tabs__tab-icon>svg {color: var(--activeColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover .bde-tabs__tab-icon>svg {color: var(--hoverColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) {background-color: var(--inactiveBgColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover {background-color: var(--activeBgColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover {background-color: var(--hoverBgColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab.is-active:hover::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--default .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--default .bde-tabs__tab.is-active:hover::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--bar .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--bar .bde-tabs__tab.is-active:hover::after {background-color: var(--activeUnderlineColor,--activeColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab:hover::after {background-color: var(--hoverUnderlineColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist-container {--bde-tabs-space-after: 15px;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__select {margin-bottom: 15px;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__select {display: block !important;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist-container--dropdown {display: none !important;}
	.bde-tabs__tabslist-container--scrollable, .bde-tabs__tabslist-container--scrollable .bde-tabs__tabslist {justify-content: flex-start !important;}
	.bde-tabs__tabslist-container--scrollable {position: relative;}
	.bde-tabs__tabslist-container--scrollable .bde-tabs__tabslist {overflow: auto;position: relative;}
	.breakdance .bde-advanced-tabs-2013-224 {flex-direction: column;}
	.breakdance .bde-advanced-tabs-2013-224 {flex-direction: column;align-items: unset;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist-container.is-vertical {overflow: hidden;}}
@media (max-width:479px) {.breakdance .bde-advanced-tabs-2013-224 {--bde-tabs-space-after: 10px;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab-title {font-size: 14px;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) .bde-tabs__tab-icon>svg {color: var(--inactiveColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active .bde-tabs__tab-icon>svg, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover .bde-tabs__tab-icon>svg {color: var(--activeColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover .bde-tabs__tab-title, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover .bde-tabs__tab-icon>svg {color: var(--hoverColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:not(.is-active) {background-color: var(--inactiveBgColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab.is-active:hover {background-color: var(--activeBgColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tab:hover {background-color: var(--hoverBgColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab.is-active:hover::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--default .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--default .bde-tabs__tab.is-active:hover::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--bar .bde-tabs__tab.is-active::after, .breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--bar .bde-tabs__tab.is-active:hover::after {background-color: var(--activeUnderlineColor,--activeColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist--tabs .bde-tabs__tab:hover::after {background-color: var(--hoverUnderlineColor);}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__tabslist-container {--bde-tabs-space-after: 10px;}
	.breakdance .bde-advanced-tabs-2013-224 .bde-tabs__select {margin-bottom: 10px;}}
.breakdance .bde-advanced-tabs-content-2013-225 .bde-tabs__panel {gap: 24px;background-color: #e5f5ff;padding: 20px 20px 20px 20px;border-radius: 16px;}
@media (max-width:1023px) {.breakdance .bde-heading-2013-226 {font-size: 40px;}}
@media (max-width:479px) {.breakdance .bde-heading-2013-226 {font-size: 30px;}}
@media (max-width:1023px) {.breakdance .bde-text-2013-227 {font-size: 16px;}}
.breakdance .bde-image-2013-228 {width: 43%;}
.breakdance .bde-image-2013-228 .breakdance-image-object {width: 100%;height: auto;}
.breakdance .bde-advanced-tabs-content-2013-239 .bde-tabs__panel {gap: 24px;background-color: #e5f5ff;padding: 20px 20px 20px 20px;border-radius: 16px;}
@media (max-width:1023px) {.breakdance .bde-heading-2013-240 {font-size: 40px;}}
@media (max-width:479px) {.breakdance .bde-heading-2013-240 {font-size: 30px;}}
@media (max-width:1023px) {.breakdance .bde-text-2013-241 {font-size: 16px;}}
.breakdance .bde-image-2013-242 {width: 24%;}
.breakdance .bde-image-2013-242 .breakdance-image-object {width: 100%;height: auto;}
.breakdance .bde-advanced-tabs-content-2013-243 .bde-tabs__panel {gap: 24px;background-color: #e5f5ff;padding: 20px 20px 20px 20px;border-radius: 16px;}
@media (max-width:1023px) {.breakdance .bde-heading-2013-244 {font-size: 40px;}}
@media (max-width:479px) {.breakdance .bde-heading-2013-244 {font-size: 30px;}}
@media (max-width:1023px) {.breakdance .bde-text-2013-245 {font-size: 16px;}}
.breakdance .bde-image-2013-246 {width: 35%;}
.breakdance .bde-image-2013-246 .breakdance-image-object {width: 100%;height: auto;}
.breakdance .bde-section-2013-149 .section-container {align-items: center;text-align: center;}
.breakdance .bde-div-2013-152 {width: 50%;align-items: center;text-align: center;}
@media (max-width:479px) {.breakdance .bde-div-2013-152 {width: 90vw;}}
.breakdance .bde-image-2013-204 {width: 80%;}
.breakdance .bde-image-2013-204 .breakdance-image-object {width: 100%;height: auto;}
.breakdance .bde-heading-2013-150 {margin-bottom: 33px;}
@media (max-width:479px) {.breakdance .bde-heading-2013-150 {font-size: 32px;}}
.breakdance .bde-button-2013-205 {margin-top: 31px;}
.breakdance .bde-button-2013-206 {margin-top: 31px;}
.breakdance .bde-section-2013-153 .section-container {align-items: center;text-align: center;}
@media (max-width:479px) {.breakdance .bde-section-2013-153 .section-container {padding-top: 0px;}}
.breakdance .bde-heading-2013-154 {color: #656565;font-family: "Inter",sans-serif;font-size: 37px;font-weight: 600;margin-bottom: 22px;}
@media (max-width:479px) {.breakdance .bde-heading-2013-154 {font-size: 27px;}}
.breakdance .bde-social-icons-2013-155 {flex-direction: row;}
.breakdance .bde-social-icons-2013-155 .bde-social-icons__icon-wrapper {border-radius: 100%;background-color: rgba(100,46,218,0);padding: 10px;opacity: 1;}
.breakdance .bde-social-icons-2013-155 .bde-social-icons__icon-wrapper:hover {background-color: #ffe929;transform: scale(1.1);opacity: .8;}
.breakdance .bde-social-icons-2013-155 .bde-social-icons__icon-wrapper svg {width: 50px;height: 50px;fill: #393939;}